
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Event Request List</h4>
            </div>
    <div class="container table-responsive table-bordered ">
        <table class="table text-center table-striped overflow-hidden ">
          <thead>
            <tr>
              <th><small><b>S.no</b></small></th>
              <th><small><b>Event ID</b></small></th>
              <th><small><b>Event Name</b></small></th>
              <th><small><b>Event Type</b></small></th>
              <th><small><b>Venue</b></small></th>
              <th><small><b>Event Date & Time</b></small></th>
              <th><small><b>Event Request Status</b></small></th>
              <th><small><b>Agreement</b></small></th>
              <th><small><b>View Event Request</b></small></th>
              <th><small><b>Honorarium Request Status</b></small></th>
              <th><small><b>Create Honorarium Request</b></small></th>
              <th><small><b>View Honorarium Request</b></small></th>
              <th><small><b>Create Post Event Request</b></small></th>
              <th><small><b>Post Event Settlemtn Status</b></small></th>
              <th><small><b>View Post Event Request</b></small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let events of eventList; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{events['EventId/EventRequestId']}}</td>
              <td>{{events['Event Topic']}}</td>
              <td>{{events.EventType}}</td>
              <td>{{events.VenueName}}</td>
              <td>{{events.EventDate}}</td>
              <td>{{events['Event Request Status']}}</td>
              <td><span class="text-primary">download</span></td>
              <td><span class="text-primary">View</span></td>
              <td>{{events['Honorarium Request Status']}}</td>
              <td><span (click)="gotoHonarariumRequest(events['EventId/EventRequestId'],events.EventType,events)" style="color: blueviolet; cursor: pointer; text-decoration: underline;" >Create</span></td>
              <td><span class="text-primary">View</span></td>
              <td><span (click)="gotoEvenSettlementRequest(events['EventId/EventRequestId'],events.EventType,events)" style="color: blueviolet; cursor: pointer; text-decoration: underline;" >Create</span></td>
              <td>{{events['Post Event Request status']}}</td>
              <td><span class="text-primary">View</span></td>
            </tr>

          </tbody>

        </table>


      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      
